doctype html
html
  head
    title= pkStay
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/normalize-css/normalize.css')
    meta(name='viewport' content='width=device-width', initial-scale='1')

  body
    block content
    script(type='text/javascript' src='/bower_components/node-uuid/uuid.js')
    script(type='text/javascript' src='/bower_components/socket.io-client/socket.io.js')
    script(type='text/javascript' src='/bower_components/crafty/dist/crafty.js')
    script(type='text/javascript' src='/javascripts/game.js')
