doctype html
html
  head
    title= pkStay
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/normalize-css/normalize.css')
  body
    block content
    script(type='text/javascript' src='/bower_components/crafty/dist/crafty.js')
    script(type='text/javascript' src='/javascripts/game.js')
